@model mvc.Models.Base.page

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>page</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.roles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.roles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.namePage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.namePage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.urlPage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.urlPage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.keyword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.keyword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.meta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.meta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idPage">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
